body {
    font-family: 'Red Hat Display', sans-serif;
}

.text-center {
    text-align: center;
}

.color-white {
    color: $color-white;
}

.container {
    padding: 0 5rem; //change this
}

.mtb-4 {
    margin: 4rem 0;
}