.circle-line {
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    border: 1px solid $color-gray;
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 1rem;
    margin-top: 8rem;
    background-color: $color-white;
    

    &:before {
        content:'';
        background-color: $color-gray;
        width: 1px;
        height: 4rem;
        position: absolute;
        // top: -4rem;
        top: -135%; //more accurate than -4rem
        left: calc(50% - 0.5px); //check out how this could be done better
    }

    &::after {
        content: attr(data-number);
        color: $color-gray;
        font-weight: 700;
    }
}

.circle-line#negative {
    margin-bottom: -1.5rem;
}