.headline-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr); //2, 1fr
    //grid-template-rows: repeat(2,1fr);


    [class^='faces'] {
        height:100%;
        grid-row: 1;
        
        //not sure about this
        display: flex;
        justify-content: space-around;
        //not sure about this

        //faces-1
        &[class$='-1']{
            grid-column: 1;
        }
        
        //faces-2
        &[class$='-2']{
            grid-column: 3; //2
        }
    }

    .headline {
        grid-row: 1; //2

        h1 {
            font-size: 3.5rem;
        }
    }
}