.user-reel {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4,1fr);
    gap:2%;

    img {
        border-radius: 5px;
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .user-reel {
        grid-template-rows: 2;
        grid-template-columns: repeat(2,1fr);
    }
}