.user-reel {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4,1fr);
    // grid-template-rows: 2; //change this maybe
    gap:20px; //change this
    margin: 0 100px; //change this too

    img {
        border-radius: 5px;
        width: 100%;
    }
}