.two-faces-component {
    display: inline-block;
    .face {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        
        &:first-child {
            margin-bottom: 30px;
        }
    }
}

.faces-1 {
    .two-faces-component {
        //transform: translateX(-3rem);

        &:first-child {
            .face {
                &:first-child {background: url('../../assets/avatars/1.jpg') no-repeat center center;}
                &:nth-child(2){background: url('../../assets/avatars/2.jpg') no-repeat center center;}
            }
        }
        
        &:nth-child(2) {
            //transform: translateY(-20%) translateX(-3rem); //confirm the number
            transform: translateY(-20%); //confirm the number

            .face {
                &:first-child {background: url('../../assets/avatars/3.jpg') no-repeat center center;}
                &:nth-child(2){background: url('../../assets/avatars/4.jpg') no-repeat center center;}
            }
        }
        
        &:nth-child(3) {
            .face {
                &:first-child {background: url('../../assets/avatars/5.jpg') no-repeat center center;}
                &:nth-child(2){background: url('../../assets/avatars/6.jpg') no-repeat center center;}
            }
        }
    }
}

.faces-2 {
    .two-faces-component {
        //transform: translateX(3rem);

        &:first-child {
            .face {
                &:first-child {background: url('../../assets/avatars/7.jpg') no-repeat center center;}
                &:nth-child(2){background: url('../../assets/avatars/8.jpg') no-repeat center center;}
            }
        }
        
        &:nth-child(2) {
            //transform: translateY(20%) translateX(3rem); //confirm the number
            transform: translateY(20%); //confirm the number
            .face {
                &:first-child {background: url('../../assets/avatars/9.jpg') no-repeat center center;}
                &:nth-child(2){background: url('../../assets/avatars/10.jpg') no-repeat center center;}
            }
        }
        
        &:nth-child(3) {
            .face {
                &:first-child {background: url('../../assets/avatars/11.jpeg') no-repeat center center;}
                &:nth-child(2){background: url('../../assets/avatars/12.jpg') no-repeat center center;}
            }
        }
    }
}


