// Colors
$color-darker-purple:#28283d;
$color-dark-purple:#855fb1;
$color-light-purple:#d9b8ff;

$color-dark-blue:#4d96a9;
$color-light-blue:#8fe3f9;

$color-gray:#87879d;

$color-white:#fafafa;


// 